header {
    background: #000000;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /* sempre será absoluto em relação a toda a página */
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    width: 60%;
    padding: 15px;
    background: #b55f0b;
    border-radius: 10px;
    transition: 0.5s background;
}

nav li:hover {
    background: #09633d;
}


nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
}

#banner {
	width:100%;
}

.principal {
	background: #ffffff;
	padding: 30px;
	width: 940px;
    margin: 0 auto;
}

.principal h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

p {
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}

em strong {
	color: #b55f0b;
	font-weight: bold;
}

em strong:hover {
    color: #09633d;
	font-weight: bold;
}


.beneficios {
	background: black;
	margin: 0;
}

.textobeneficios {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

.titulo-centralizado {
	display: block;
	text-align: center;
	width: 40%;
	margin: 10px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 27px;
}

ul {
	width: 40%;
	padding: 0;
}

.itens {
	display: table;
	text-align: center;
	font-style: italic;
	margin: 0 0 10px;
	color: white;
}

.caixabeneficios {
	display: inline-block;
	text-align: right;
	width: 50%;
  }

.imagembeneficios {
	width: 100%;
}
