#banner {
	width:100%;
}

header {
    background: #000000;
    padding: 20px 0;
}

.titulo-principal {
	padding-left: 20px;
	position: relative;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal p {
	color: white;
	text-transform: uppercase;
	font-size: 40px;
    position: absolute; /* sempre será absoluto em relação a toda a página */
    top: 110px;
    right: 0;
}

.titulo-principal p:hover {
	color: #b55f0b;
	text-decoration: 1px underline;
}

.principal {
	background: #ffffff;
	padding: 30px;
	width: 940px;
    margin: 0 auto;
}

.principal h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

p {
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}

em strong {
	color: #b55f0b;
	font-weight: bold;
}

em strong:hover {
    color: #09633d;
	font-weight: bold;
}


.beneficios {
	background: black;
	margin: 0;
}

.textobeneficios {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

.titulo-centralizado {
	display: block;
	text-align: center;
	width: 40%;
	margin: 10px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 27px;
}

ul {
	width: 40%;
	padding: 0;
}

.itens {
	display: table;
	text-align: center;
	font-style: italic;
	margin: 0 0 10px;
	color: white;
}

.caixabeneficios {
	display: inline-block;
	text-align: right;
	width: 50%;
  }

.imagembeneficios {
	width: 100%;
}
